
{% include "home/mainheader.html" %} 

<main class="mt-5 pt-4">
    <div class="container">
        <div class="container z-depth-1">

            <section id="v-1">
                <section class="pt-1">
                    <img style="height:4em;" class="float-left" src="{{ logo.element_image.url }}" />
                    <p class=" pt-2">&emsp;<span class="h6">College of Computing Studies, Information and Communication Technology </span>
                        <br> &emsp;Isabela State University - Cabagan, Isabela
                    </p>
                </section>
                <hr>

                <!-- Section: Magazine v.1 -->
                <section class="magazine-section " style="min-height:274px;">

                    <!-- Section heading -->
                    <!-- Section description -->
                    <!-- Grid row -->
                    <div class="row px-4">

                        <div class="col-lg-3 col-md-12">

                            <h5 class="styled4 text-danger"><i class="fas fa-users"></i>&emsp;Alumni </h5>
                         

                        </div>

                        
                        <div class="col-lg-12 col-md-12" style="">
                            <table id="example" class="table " style="">
                                <thead class="text-danger">
                                    <tr>
                                        <th>Year</th>
                                        <th>Course</th>
                                        <th>Fullname</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if alumni is not None %}
                                    {% for a in alumni %}
                                    <tr>
                                        <td>{{ a.batch.batch_year }}</td>
                                        <td>{{ a.batch.course.course_name }}</td>
                                        <td>{{a.firstname}} {{a.mi}}.s {{a.lastname}}</td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                            
                            
                        </div>
                        

                    </div>
                    <iframe width="100%" height="480px" src="https://poly.google.com/view/58wBAUblsuZ/embed?chrome=min" frameborder="0" style="border:none;" allowvr="yes" allow="vr; xr; accelerometer; magnetometer; gyroscope; autoplay;" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel="" ></iframe>



                </section>
                

            </section>

        </div>

    </div>
</main>
{% include "home/footer.html" %} 