{% include "home/mainheader.html" %} 
    <main class="mt-5 pt-4 container">
        <div class="container-fluid">
            <section class="">
                <img style="height:4em;" class="float-left" src="{{ logo.element_image.url }}" />
                <p class=" pt-2  dark-grey-text">&emsp;<span class="h6">College of Computing Studies, Information and Communication Technology </span>
                    <br> &emsp;Isabela State University - Cabagan, Isabela
                </p>
            </section>
            <div class="">
                <div class="slider slider-for">
                    {% for b in banners %}
                        <div>
                            <img src="{{b.element_image.url}}" style="height:250px;width:100%;" class="img-fluid" alt="Responsive image">
                        </div>
                    {% endfor %}
                </div>
            </div>
      
            <!-- <section class=" wow fadeIn p-4 card" style="background-image: url({{ banner.element_image.url }});background-repeat: no-repeat;background-position: center center;background-size: cover;">

               
                <div class="card-body text-white text-center" style="min-height:200px;">
               

                    <h1 class="mb-4">
                        <strong></strong>
                    </h1>
                    <p>
                        <strong></strong>
                    </p>
                    <p class="mb-4">
                        <strong></strong>
                    </p>
               

                </div>
               
            </section> -->

            <div class="">
            <!-- <div class="container z-depth-1"> -->
                <section id="v-1">

                    <!-- Section: Magazine v.1 -->
                    <section class="magazine-section ">

                        

                        <!-- Section heading -->
                        <!-- Section description -->
                        <!-- Grid row -->

                        <div class="row px-3 ">

                            <!-- Grid column -->
                            <div class="col-lg-8 col-md-12 card mt-3 ">
                                <h3 class=" text-danger darken-3 pt-3 pb-0">Latest News and Updates</h3>
                                
                                <!-- Featured news -->
                                <div class="row  border-bottom">

                                    <div class="single-news mb-4 col-md-12  pt-3">

                                        <!-- Image -->
                                        <div class="view overlay rounded mb-4" style="height:300px !important;">
                                            <img style="width:100%" class="img-fluid" src="{{ featured.post_image.url }}" />
                                            <a>
                                                <div class="mask rgba-white-slight"></div>
                                            </a>
                                        </div>

                                        <!-- Data -->
                                        <div class="news-data d-flex justify-content-between">
                                            <a href="{% url 'post' featured.id %}" target="_blank" class="dark-grey-text font-weight-bolder text-danger">
                                                <p class=""></i>{{ featured.post_title }}</p>
                                            </a>
                                            <p class="grey-text"><i class="fas fa-clock-o "></i>{{ featured.pub_date|date:'Y-m-d' }}</p>
                                        </div>

                                        <!-- Excerpt -->

                                        <p class="dark-grey-text" style="line-height: ;font-size: 14px;">{{ featured.post_description|striptags|slice:"0:230" }} . . .
                                            <a href="{% url 'post' featured.id %}" target="_blank" class="badge badge-info p-1">Read more</a>
                                        </p>
                                    </div>

                                    <!-- Featured news -->
                                    {% if posts is not None %}
	                                    {%for post in posts%}
											<!-- Small news -->
										<div class="single-news mb-lg-3 mb-4  col-md-6">

										    <!-- Grid row -->
										    <div class="row">

										        <!-- Grid column -->
										        <div class="col-md-4">

										            <!--Image-->
										            <div class="view overlay rounded mb-lg-0 mb-4">
										                <img class="img-fluid" style="height:80px;width:auto;" src="{{ post.post_image.url }}" alt="Sample image">
										                <a>
										                    <div class="mask rgba-white-slight"></div>
										                </a>
										            </div>

										        </div>
										        <!-- Grid column -->

										        <!-- Grid column -->
										        <div class="col-md-8"  style="">

										            <!-- Excerpt -->
                                                    <p style="font-size: 12px;" class="pt-1 mb-1 grey-text">{{ post.pub_date|date:'Y-m-d' }}</p>
                                                     <p class="dark-grey-text font" style="line-height: ;font-size: 12px;">{{ post.post_title|striptags|safe|slice:"0:100" }} . . .
                                                        <a href="{% url 'post' post.id %}" target="_blank" class="badge badge-info p-1 float-right">Read more</a>
                                                    </p>
										        </div>

										        <!-- Grid column -->

										    </div>
                                            <hr class="m-0">
										    <!-- Grid row -->

										</div>
										<!-- Small news -->	
										{%endfor%}
									{% else %}
										
									{% endif %}
                                    

                                </div>
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-lg-4 col-md-12 pt-3">

                                <!-- Featured news -->
                                <!-- Featured news -->
                                

                                <!-- Small news -->
                                <div class="single-news mb-4 pb-0 ">
                                    <div class="container">
                                      <div class="card">
                                        <div class="card-header bg-danger pb-1 pt-2 px-3">
                                            <h5 class=" text-white py-0">Announcements </h5>
                                        </div>
                                        <div class="card-body">
                                            {% if announcements is not None %}
                                                {% for a in announcements %}
                                                <div class="row m-0">

                                                    <!-- Grid column -->
                                                    <div class="col-md-12">

                                                        <!-- Excerpt -->
                                                        <a>
                                                            <p class="grey-text mb-0 py-0" style="font-size:13px;"><b> {{ a.pub_date|date:'Y-m-d' }} </b>- {{ a.announcement_title|slice:"0:500" }} </p>
                                                        </a>
                                                        {% if a.announcement_attachment %}
                                                        <a href="{% url 'download_announcement' a.id %}" download class="badge badge-primary my-0">attachment</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div> 
                                      </div>
                                    </div>

                                	
                                    <div class="row">

                                        <!-- Grid column -->
                                        <!-- <div class="col-md-12 ">

                                            
                                            <img class="img-fluid rounded img-circle p-3 float-center " src="http://localhost/vtour/assets/img/isu.png" />

                                        </div> -->
                                        <!-- Grid column -->

                                    </div>
                                    <!-- Grid row -->

                                </div>

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                    </section>
                    <!-- Section: Magazine v.1 -->

                </section>

            </div>
    </main>
    <!--Main layout-->

    <!--Footer-->
    {% include "home/footer.html" %}
