{% include "home/mainheader.html" %}
<main class="mt-5 pt-4">
    <div class="container">
        <section class="">
            <img style="height:4em;" class="float-left" src="{{ logo.element_image.url }}" />
            <p class=" pt-2  dark-grey-text">&emsp;<span class="h6">College of Computing Studies, Information and Communication Technology </span>
                <br> &emsp;Isabela State University - Cabagan, Isabela
            </p>
        </section>

        <div class="">
            <!-- <div class="container z-depth-1"> -->
            <section id="v-1">

                <!-- Section: Magazine v.1 -->
                <section class="magazine-section " style="min-height:300px;">
                    <div class="row">

                        <div class="col-lg-9 col-md-12">
                            <hr>
                            <div class="">
                                <div class="row justify-content-between px-2">
                                    <div class="col-sm-9">
                                        <h4 class="font-weight-bolder float-left" style="color:#444"></i>{{ reference.reference_title }}</h4>    
                                    </div>
                                    <div>
                                        <p style="font-size:15px;line-height:3px;vertical-align:middle;">Date Posted: {{ reference.pub_date|date:'Y-m-d' }}</p>
                                    </div>
                                    
                                    
                                </div>
                                <hr>
                            </div>

                            <!-- Featured news -->
                            <div class="row">

                                <div class="single-news mb-2 col-md-12">

                                    <!-- Image -->
                                    <div class="view overlay rounded">
                                        
                                    </div>
                                    <p class="dark-grey-text">{{ reference.reference_description}}
                                    </p>

                                </div>
                                {% if reference.reference_attachment %}
                                <a class="btn btn-primary btn-sm" href="{% url 'download' reference.id %}" download="true">download</a>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-lg-3 col-md-12 mt-4">

                            <!-- Featured news -->
                            <!-- Featured news -->
                            <!-- <h5 class="">Archieved </i></h5> -->

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </section>
                <!-- Section: Magazine v.1 -->

            </section>

        </div>
</main>
<!--Main layout-->

<!--Footer-->
{% include "home/footer.html" %}