{% include "home/mainheader.html" %} 

<main class="mt-5 pt-4">
    <div class="container">
        <!-- <div class="container z-depth-1"> -->
        <div class="container ">

            <section id="v-1">
                <section class="pt-1">
                    <img style="height:4em;" class="float-left" src="http://localhost/vtour/assets/img/ccsict.jpg" />
                    <p class=" pt-2">&emsp;<span class="h6">College of Computing Studies, Information and Communication Technology </span>
                        <br> &emsp;Isabela State University - Cabagan, Isabela
                    </p>
                </section>
                <hr>

                <!-- Section: Magazine v.1 -->
                <section class="magazine-section" style="min-height:274px;">
                    <div class="row px-4">

                        <div class="col-lg-3 col-md-12">
                            <h5 class="styled4 text-danger"></i>Traccer </h5>
                            <div class="single-news mb-4">
                                <!-- Grid row -->
                                {% if traccers is not None %}
                                {% for t in traccers %}

                                <div class="row">
                                    <!-- Grid column -->
                                    <button class="btn btn-danger text-left traccer" name="{{t.id}}" style="width:100%;background-color:#801414" type="button">{{t.traccer_type}}</button>
                                    <!-- Grid column -->
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div id="content-container" class="col-lg-9 col-md-12 px-4 mt-5">
                            <ul>
                                {% if tracceritems is not None %}
                                {% for ti in tracceritems %}
                                <li style="list-style: none;color:#339af0">
                                    <i class="fas fa-angle-double-right mr-2"></i><a>{{ti.traccer_item_title}}</a>
                                </li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                          
                        </div>
                    </div>

        </div>
        <!-- Grid row -->

        </section>
        <!-- Section: Magazine v.1 -->

    </div>
</main>
{% include "home/footer.html" %}