{% include "home/mainheader.html" %} 
    <main class="mt-5 pt-4">
        <div class="container">
            <section class="">
                <img style="height:4em;" class="float-left" src="{{ logo.element_image.url }}" />
                <p class=" pt-2  dark-grey-text">&emsp;<span class="h6">College of Computing Studies, Information and Communication Technology </span>
                    <br> &emsp;Isabela State University - Cabagan, Isabela
                </p>
            </section>
                <!-- Section: Magazine v.1 -->
                <section class="magazine-section" style="min-height:274px;">
                    <div class="row ">

                        <div class="col-lg-3 col-md-12">
                            <h5 class="styled4 text-danger"></i>Traccer </h5>
                            <div class="single-news mb-4">
                                <!-- Grid row -->
                                {% if traccers is not None %}
                                {% for t in traccers %}

                                <div class="row">
                                    <!-- Grid column -->
                                    <button class="btn btn-danger text-left traccer" name="{{t.id}}" style="width:100%;background-color:#801414" type="button">{{t.traccer_type}}</button>
                                    <!-- Grid column -->
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div id="" class="col-lg-9 col-md-12 mt-5">
                            <ul>
                                {% if tracceritems is not None %}
                                {% for ti in tracceritems %}
                                <li style="list-style: none;color:#339af0">
                                    <i class="fas fa-angle-double-right mr-2"></i><a>{{ti.traccer_item_title}}</a>
                                </li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                          
                        </div>
                    </div>

        </div>
        <!-- Grid row -->

        </section>
        <!-- Section: Magazine v.1 -->

    </div>
</main>
{% include "home/footer.html" %}